/* Nav de header y footer */
nav
{
    background-color: rgba(239, 136, 17, 0.823);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

/* Logo header */
#logo
{
    height: 150px;
    width: 150px;
}

/* Eliminar subrayado de elementos */
ul
{
    list-style-type: none;
}

body
{
    background-image: url(../img/Fondo.jpg);
    background-size: 100vw;
    background-attachment: fixed;
}

/* Estilo de items del nav */
a
{
    text-decoration: none;
    color: black;
    border: 1px solid rgb(77, 2, 2);
    padding: 5px;
    background-color: #e7211b;
    border-radius: 50px;
}

li
{
    padding: 10px;
}

/* Alineacion de los items del header */


#ul-header {
    list-style-type: none; /* Quita los puntos de la lista */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; /* Color de fondo */
    display: flex;
    flex-direction: row;
}

#ul-header li {
    float: left;
}

#ul-header li a {
    display: block;
    color: white; /* Color del texto */
    text-align: center;
    padding: 14px 16px; /* Ajusta el espacio dentro del botón */
    text-decoration: none;
}

#ul-header li a:hover {
    background-color: #111; /* Color de fondo cuando el mouse está sobre el botón */
}


#ul-footer {
    list-style-type: none; /* Quita los puntos de la lista */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; /* Color de fondo */
    display: flex;
    flex-direction: row;
}

#ul-footer li {
    float: left;
}

#ul-footer li a {
    display: block;
    color: white; /* Color del texto */
    text-align: center;
    padding: 14px 16px; /* Ajusta el espacio dentro del botón */
    text-decoration: none;
}

#ul-footer li a:hover {
    background-color: #111; /* Color de fondo cuando el mouse está sobre el botón */
}

/* Alineacion de los items del footer */

#section-cards, h1 {
    display: flex;
    justify-content: center;
}


#titulo 
{
    text-align: center;
}

legend
{
    background-color: rgb(164, 148, 0);
    border: 1px solid rgb(1, 76, 10);
    font-size: large;
}

/* Color fondo Formulario ABM*/
.field-formulario
{
    background-color: rgba(239, 136, 17, 0.823);
}


/* Tamaño iconos */
.icono
{
    height: 50px;
    width: 50px;
}

/* Color fondo inputs */
.input, select
{
    background-color: rgb(212, 209, 173);
}

form>div
{
    padding: 15px;
    text-align: center;
}

fieldset
{
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 10px;
}

#conteiner-iconos
{
    display: flex;
    justify-content: center;
}

div
{
    padding: 10px;
}

/* Container Botones*/
#botones-container
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.boton {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    background-color: rgb(241, 114, 114);
    border-radius: 50px; 
    transition: all 0.3s; 
}

.boton:hover {
    box-shadow: 5px 5px 10px rgba(3, 78, 68, 0.2); 
    background-color: darkcyan;
}


#btnGuardar
{
    background-color: rgb(47, 15, 106);
    font-family: "Chiller", sans-serif;
    font-weight: bold;
    font-size: 24px;
}

#btnGuardar:hover{

    background-color: blue;
}

button:disabled
{
    background-color: grey;
    font-family: "Chiller", sans-serif;
    font-weight: bold;
    font-size: 24px;
}


table{
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    font-family: "Chiller", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color:rgb(115, 1, 115)

}

th, td{
    border: 1px solid black;
    padding: 5px 10px;
}

th{
    text-transform: capitalize;
}

td{
    text-align: center;
}

.ths
{
    border: 1px solid black;
    text-align: center;
}


.rowPar
{
    background-color: rgba(255, 255, 255, 0.4);
}

.rowImpar
{
    background-color: rgba(255, 255, 255, 0.3);
}


.cabecera
{
    background-color: rgb(240, 190, 62);
}


#spinner-girando
{
    height: 200px;
    width: 200px;
}

#spinner
{
    display: flex;
    justify-content: center;
}

h1 {
    color: rgb(180, 0, 0);
}

.field-formulario {
    position: relative;
}


#form-abm::before {
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100px; 
    height: 100px; 
    background-image: url('../img/franki-removebg-preview.png');
    background-size: cover; 
}


#form-abm::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-image: url('../img/dracu-removebg-preview.png');
    background-size: cover;
}


.field-formulario::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 100px;
    height: 100px;
    background-image: url('../img/momia-removebg-preview.png');
    background-size: cover;
}


.field-formulario::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-image: url('../img/niño-lobo-removebg-preview.png');
    background-size: cover;
}




/* Color borde validacion */
.errorValidacion
{
    border: 2px solid red;
}

body {
    font-family: "Chiller", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color:rgb(98, 3, 240);
    cursor: url('../img/dedo-removebg-preview.png'), auto;
}

#txtMiedo {
    width: 40%;
}



/* Estilo para el input de tipo range */
.input.rango {
    width: 50%; /* Ajusta el ancho según sea necesario */
}

#form-abm {
    border: 5px solid #f05b05; /* Borde de 1 píxel sólido de color gris claro */
    padding: 5px; /* Agrega un espacio interno alrededor del borde */
    
    justify-content: center;
}


/* Color mensaje validacion */
small
{
    color: red;
    display: flex;
    justify-content: center;
}

footer
{
    margin-top: 20px;
}

/* Screen Ajustable */
@media screen and (max-width: 800px) {
    #ul-header, #ul-footer
    {
        display: flex;
        flex-direction: column;
    }
}

#filtro + .form-select {
    /* Estilos personalizados aquí */
    /* Por ejemplo: */
    width: 150px;
}

/* Estilo para el drop-down personalizado cuando está enfocado */
#filtro + .form-select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

/* Estilo para el drop-down personalizado cuando está deshabilitado */
#filtro + .form-select:disabled {
    background-color: #e9ecef;
    opacity: 1;
}